
/* needs iphone breakpoint work */
#address-info{
    text-align: center;
    margin-top: 0%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 1%;
    border-style: solid;
    border-color: #17A2B8;
    max-width: 100%;
    border-radius: 15px;
    align-content: center;

}
.app-links{
    color: #17A2B8;
    
}
.app-links:hover {
    color:white;
    background-color: #17A2B8;
    border-radius: 10px;
    padding: 1%;
    width: 2.5%;
    
}
#bio-pic {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-left: 2%;
    z-index: 1;
    position: relative;
}

#bio-image-col {
    display: inline;
    justify-content: center;
    align-items: center;
}


blockquote {
    position: relative;
    display: inline-block;
    background: #eee;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: #333;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin-bottom: 3%;
    font-size: 18px;
    margin-left: 10%;
    z-index: -1;
}

blockquote:before {
    display: inline-block;
    border-top: solid 1px #17A2B8;
    position: relative;
    content: "";
    left: 0;
    width: 100%;
    bottom: 50%;
    z-index: 1;
}

.built-apps {
    margin-top: 2%;
}

.btn {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
cite {
    position: relative;
    display: block;
    text-align: right;
    margin-top: 0%;
    padding-top: 0%;
    font-size: 18px;
    z-index: 0;

}

cite:before {
    display: inline-block;
    border-top: solid 1px #17A2B8;
    position: absolute;
    content: "";
    left: 0;
    width: 80%;
    bottom: 50%;
    z-index: 1;
}


#color-body {
    background-color: #f7feff;
}

#contact-button {
    border-radius: 30px;
}

/* needs iphone breakpoint work */
#contact-form {
    margin-top: 0%;
    margin-bottom: -1%;
    
}
#contact-me-img{
    margin: auto;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* needs iphone breakpoint work */
#contact-me-img-div{
    text-align: center;
    margin-bottom: 1%;
    
}
#contributions{
    max-width: 100%;
}
#contributions-two {
    margin-bottom: 4%;
}

.fixed-bottom {
    position: relative;
    width: 100%;
    bottom: 0;

}

#footer-buttons{
    align-content: center;
    justify-content: center;
    padding: 5%;
}
.footer-buttons{
    margin: 2%;
    width: 16%;
}

#gif-row {
    margin: auto;
    margin-top: 0%;
    margin-bottom: 1%;

}
#github-most-languages{
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}
#github-stats{
    margin-top: 1%;
    margin-bottom: 1%;
}
#github-stats-button-one{
    margin-bottom: 4%;
    margin-top: 4%;
    width: 80%;
    background-color: #17A2B8;
}
#github-stats-button-two{
    margin-bottom: 7%;
    width: 80%;
    background-color: #17A2B8;
}

#home-content-container{
    margin: auto;
    margin-top: 0%;
    text-align: left;
    border-radius: 2px;
}

hr {
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid #17A2B8;
}
#img-div {
    overflow-wrap: break-word;
    max-width: 20%;
    margin: 0 20px 0 0;
    
}

.jumbotron {
    margin: 0.25%;
    margin-top: 3%;
    padding: 0.25%;
    background-image: url('https://cdn.pixabay.com/photo/2016/09/18/20/52/landscape-1679026_960_720.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    max-height: 250px;
    z-index: -1;
}

#jumbo-button {
    display:flex;
    width: 200px;
    outline-color: red;
    justify-items: center;
    justify-content: center;
    margin-top: -6%;
    position: relative;
    z-index: 2;

}

#jumbo-container {
   margin: auto;
   margin-left: 0%;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #17A2B8;
    
}
.navbar-dark .navbar-nav .nav-link{
    color: whitesmoke;
    text-emphasis-color: aqua;
}
p{
    font-size: 20px;
    padding: 1%;
}

#ryan-drac-gif{
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    /* border-radius: 200px; */
}

#text-to-wrap{
    word-wrap: break-word
}
.table-container{
    box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.2);
    margin-top: 1%;
    margin-bottom: 100px;
    padding-top: 1%;
}
.table-container tr th{
    max-width: auto;
    text-align: center;
    min-width: 150px;
    background-color: #17A2B8;
    color: #f7feff;
    

}

#wrap {
    overflow-wrap: break-word;
}

/* Login CSS */
.login-container {
    margin-top: 8%;
    margin-bottom: 12%;
}



.login-form-1 {
    padding: 6%;
    background: #282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1.5rem;
}

.login-form-1 h3 {
    text-align: center;
    margin-bottom: 5%;
    color: #fff;
}

.btnSubmit {
    font-weight: 600;
    width: 50%;
    color: #fff;
    background-color: #17A2B8;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    text-align: center;
}
.btnSubmit:hover {
    font-weight: 600;
    width: 50%;
    color: #17A2B8;
    background-color: white;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    text-align: center;
}


.btnForgetPwd:hover {
    text-decoration: none;
    color: #fff;
}

#login-btnSubmit{
    text-align: center;
}


#login-page-spacer{
    min-height: 200px;
}

/* Portfolio CSS */
.card{
    width: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container{
    display: flex;
}
.card-img-top{
    max-width: 100%;
    height: 150px;
}

.card-text{
    font-size: 16px;
}

.flex-container{
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    margin-top: 5%;
}
.flex-container > div{
    margin: auto;
    
    
}
.portfolio-spacer{
    margin-top: 100px;
}

.wrap-container{
    display: flex;
    overflow-wrap: break-word;
    flex-wrap: wrap;
}
.wrap-container #img-div+p {
    flex: 1;
    position: relative;
    flex-wrap: wrap;
}

@media (max-width: 576px) {
    #address-info{
        max-width: 80%;
        margin: auto;
    }
    #jumbotron {
        margin-top: 10%;
    }
    #bio-pic {
        max-width: 145px;
        margin-top: 4%;
        margin-left: 1.5%;
        margin-bottom: 1%;
    }

    cite::before{
        width: 74%;
    }
    #img-div{
        align-items: center;
        align-content: center;
        justify-content: space-between;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
    }
    #jumbo-button{
        max-width: 150px;
        margin-top: -5%;
        margin-left: 0px;
    }

    .flex-container {
        max-width: 100%;
        margin-top: 20%;
    }

}